@media only screen and (max-width:970px) {


    /*chặn hover ảnh*/
    .img-hover-zoom img:hover {
        transform: scale(1, 1);
    }


    .content-layout {
        width: 80%;
        margin: 0 auto;
    }

    .navbar {
        width: 80%;
        margin: 0 auto;
    }




    .header {
        width: 100%;
    }

    .content-left {
        float: none;
        width: 100%;
    }


    .col-infor-contrainer,
    .row-element>a.img-hover-zoom,
    .img-bar>a:not(:nth-child(4)) {
        width: 33% !important;
        height: auto !important;
        display: block;
    }

    .row-infor {
        flex-direction: column;
        border-bottom: none;
    }

    .img-hover-big {
        width: 100%;
        height: auto;
    }

    .img-hover-big a img,
    .img-hover-zoom img,
    .img-col-title-infor {
        width: 100%;
        height: auto;
    }



    .row-element {
        width: 100%;
        flex-direction: row;
        margin-bottom: 15px;
        border-bottom: 1px solid #e9ecef;
        padding-bottom: 15px;
    }

    .row-element>a.img-hover-zoom {
        flex-shrink: 0;
    }

    .row-element-rb {
        margin-left: 15px;

    }


    .article-body::after,
    .article-group-img-container,
    .responsive-hidden-img,
    .content-right {
        display: none;
    }

    .article-body {
        flex-direction: column;
    }

    .display-none {
        display: block !important;
    }

    .col-infor-contrainer {
        flex-shrink: 0;
        margin-right: 15px;
    }

    .ar-gr-ele,
    .article-group-post {
        padding-left: 0;
        margin-left: 0;
    }

    .ar-gr-ele::before {
        display: none;
    }



    .img-bar-container {
        flex-direction: row-reverse;
    }
  
    /*  */

    .bm {
        max-width: 730px;
    }

    

    .bm_R {
        display: none;
    }

    .bm_card {
        width: 100%;
        flex-direction: row;
    }

    .bm_card_img {
        flex-shrink: 0;
        width: 33%;
        height: auto;
    }

    .bm_card_c {
        margin-left: 12px;
    }

    .footer,
    .list-item-footer,
    .contact-other-license {
        display: none;
    }

    .footer_mb {
        display: block;
    } 
    .bm{
        max-width: 730px;
    } 

    
    
    .bm_R{
        display: none;
    }

    .bm_card{
        width: 100%;
        flex-direction: row;
    }
    .bm_card_img{
        flex-shrink: 0;
        width: 33%;
        height: auto;
    }

    .bm_card_c{
        margin-left: 12px;
    }

    .footer,
    .list-item-footer,
    .contact-other-license{
        display: none;
    }

    .footer_mb{
        display: block;
    }
    
    .Search-content input{
        width: 100%;
    }

    .list-item-footer {
        width: 100%;
    }


    .footer-align {
        overflow: hidden;
        width: 100%;
    }

    .contact-other-license {
        width: 100%;
    }


    /*nav bar*/
    .nav-area {
        /* position: relative; */
        width: 100%;
        height: 100%;

    }

    .nav-supper {
        width: 100%;
        height: 100%;
        overflow: scroll;
        padding: 0 10%;


    }

    .nav-path {
        float: unset;
        width: 100%;
        height: auto;
    }

    .header-path {
        display: block;
        margin-bottom: 0;
        border-left: none;
        border-top: 1px solid #e1e1e1;
        color: black;

    }

    .header-path:not(.other-path) {
        background-color: #e9ecef;
    }

    .header-path,
    .nav-path li {
        padding: 6px;
    }

    .other-path:not(:first-of-type) {
        background-color: #fdf7ea;
 
    }
    .bm_L{
        max-width: 100%;
        margin: auto;
    }
}


 

@media only screen and (max-width:739px) {

    .ul-nav li:nth-last-child(2),
    .ul-nav li:nth-last-child(3) {
        display: none;
    }

    .bm {
        max-width: 100%;
        padding: 0 10%;
    }

}

@media only screen and (max-width:569px) {

    .ul-nav li:nth-last-child(2),
    .ul-nav li:nth-last-child(3),
    .ul-nav li:nth-last-child(4) {
        display: none;
    }
}

@media only screen and (max-width:410px) {

    .ul-nav li:nth-last-child(2),
    .ul-nav li:nth-last-child(3),
    .ul-nav li:nth-last-child(4),
    .ul-nav li:nth-last-child(5) {
        display: none;
    }

    .bm_R {
        display: none;
    }


}