*{
    font-family: baomoi,AvenirNextCondensed-Medium,HelveticaNeue-CondensedBold,"sans-serif-condensed",Calibri,Corbel,Liberation Sans Narrow,Lohit Odia,sans-serif;
    margin: 0;
    padding: 0;
    
}

a{
    text-decoration: none;
    color: inherit;
}

.of-hd{
    overflow: hidden;
}

.ml-12{
    margin-left: 12px;
}

.fs-13{
    font-size: 13px;
}

.fs-19{
    font-size: 19px;
}

.op-025{
    opacity: 0.25;
}

.img{
    width: 100%;
}

.text-hover:hover{
    color: #2fa1b3;
}

/*hieu ung zoom hinh anh*/
.img-hover-zoom img{   transition-duration:1s ;  }
.img-hover-zoom:hover img{
    transform: scale(1.1,1.1);
}
.img-radius{ border-radius: 5px;
display: inline-block; }


/*set thanh footer cho moi bai viet*/
.post-footer {   /*can chinh thanh footer*/
    display: flex;
    margin-right: 10px;
    align-items: flex-end
}
.post-footer a,.post-footer span,.post-footer i{
    margin-right: 10px;
}
.post-footer span{ color:#959494;
    font-size: 13px; 
}

.img-news{
    height: 16px;   /* kich thuoc anh ben trai (hinh co quan viet bao) */
}


/*Code cho phan header tieu de cua trang web*/
.header{
    width: 970px;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


.Search-content input{
    font-size: 14px;
    border: 1px solid #e9ecef;
    width: 456px;
    padding: 10px;
    
    
}

.Search-content input:hover,.Search-content input:focus{
    border: 1px solid #2fa1b3;
    color: #2fa1b3;
    outline:    none;
}


.icon:last-child {
    font-size: 20px;
    padding-left: 30px;
    color:#2fa1b3;
}


/*code su dung cho navbar thanh dieu huong*/
.nav-container{
    background-color: #2fa1b3;
    overflow: hidden;
    height: 40px;
    
}

.navbar{
    width: 970px;
    margin: 0 auto;
}

.ul-nav{
    margin: 0; padding: 0;
    list-style-type: none;
    display: flex;
    
    align-items: center;
}

.btn-square{
    color: white;
    font-size: 18px;
    border-right: 1px solid #8ac7d1;
    padding:10px;
    display: inline-block;
}

.btn-radius{
    font-size: 13px;
    color: white;
    border: 1px solid #8ac7d1;
    border-radius: 14px;
    padding: 0 5px;
    margin:10px;
    

}

.icon-dropdown{
    color: white;
    margin-left: auto;
    border-left: 1px solid #8ac7d1;
    border-right: 1px solid #8ac7d1;
    background-color: #2b94a5;
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon-dropdown:hover{background-color: #237784;}
.btn-square:hover{
    background-color: #2b94a5;
}

.btn-radius:hover{
    background-color: #3fd4eb;
}



/*code su dung cho khung lien ket 3 gach*/
.nav-supper{
    background-color: #f3f3f3;
    padding: 20px;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: 500ms;
    
    
}
.nav-area{
    
    width: 970px;
    margin: 20px auto;
    z-index: 1;
    background-color: #f3f3f3;
    
}
.nav-path{
    width: 194px;
    float: left;
}

.nav-path{
    width: 194px;
    height:140px;
}
.header-path{
    color: #2b94a5;
    border-left: 3px solid #2b94a5;
    padding-left: 3px;
    display: inline-block;
    margin-bottom:  10px;
    padding-left: 5px;
}

.ul-nav-path{
    margin:0;
    padding:0;
}
.ul-nav-path li{
    list-style-type: none;
    margin: 5px 0;
    font-size: 13px;
    color: rgb(32, 32, 32);
}

.ul-nav-path li:hover{
    color:#2b94a5;
    cursor: pointer;
}

.dropsupport{
    display: none;
    width: 0;
    transition-duration: 500ms;

}


/*Toan bo phan noi dung */
.content-layout{
    width: 970px;
    margin: 0 auto;
    margin-top: 15px ;
}
.content-left{
    float: left;
    width: 625px;
}
.content-right{
    float: right;
    width: 330px;
}


/*Mot bai viet ben trai*/
.main-content{ margin-bottom: 10px; }
.main-content a{
    text-decoration: none;
    color: rgb(21, 20, 20);
    font-size: 28px;
}
.main-content a:hover{
    color:#2fa1b3;
}

.img-hover-big{
    overflow: hidden;
    border-radius: 5px;
    width: 625px;
    height: 340px;
    
}


/* bai viet tren thanh ngang ben trai*/
.row-infor{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px ;
    border-bottom: 1px solid #e9ecef;
}
.row-element{
    width: 198px;
    
}
.row-element > a.img-hover-zoom{
    width: 198px;
    height: 125px;
    overflow: hidden;
    display: inline-block;
    border-radius:5px ;
}
.img-row-element{
    width:  198px;
}
.title-element{
    margin: 5px 0;
    font-size: 20px;
}
.title-element:hover{
    color:#2fa1b3;
}

/*noi dung bai viet ben trai dang cot*/
.col-infor{
    margin: 20px 0;
    padding-bottom: 10px ;
    border-bottom: 1px solid #e9ecef;
}
.img-col-title-infor{
    width: 155px;
    height: 100px;
}
.col-infor-contrainer{
    width: 155px;
    height: 100px;
}
.col-infor-contrainer a{
    border-radius: 5px;
    overflow: hidden;
    display: block;
}

/*noi dung bai viet ben phai*/
.right-new{
    margin-bottom: 20px;
}

.post-article{
    
    padding-bottom: 10px;
    display: flex;
    border-bottom: 1px solid #e9ecef;
    align-items: flex-start;
    margin-bottom: 15px;
}
.post-title{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.anchor-post-p{
    font-size: 18px;
    line-height: 25px;
    color: rgb(21, 20, 20);
    
}
.anchor-post-p:hover{
    color:#2fa1b3;
}
.img-post{
    
    height: 60px;
}

.post-img-container{
    height: 60px;
    width: 60px;
}
.post-img-container a{
    overflow: hidden;
    display: block;
    
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.post-footer a{
    display: flex;
    justify-content: space-between;
}


/*slide animation cho cac to bao doi tac*/
.newspaper-show{
    margin:10px;
    border: 1px solid #e9ecef;
    position: relative;
    padding: 10px;
}
.slide-container{
    position: relative;
    overflow: hidden;
    height: 78px;
}
.element-slide{
    margin-right: 10px;
    
}
.slide{
    display: flex;
    position: absolute; 
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-name: slide-bar;
    animation-iteration-count: infinite;
}
.anchor-slide{
    display: inline-block;
    padding: 5px 8px ;
    border: 1px solid #e9ecef;
    
    width: 68px;
    height: 43px;
    
}
.slide:hover{
    animation-play-state:paused ;
}
@keyframes slide-bar {
    0%{left: 0;}
    100%{left: -1630px;}
    
}
.img-slide{
    display: block;
    width: auto;
    width: 78px;
    height: 46px;
    
}

/*tiện ích - nhiệt độ*/

.utility-option,.temp_{
    background-color: #ececec;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.temp_{
    margin-bottom: 1px;
}
.utility-temp-today{

    display: flex;
    justify-content: space-between
}
.utility-temp-today > img{
    width: 60px;
}
.t-tb{
    font-size: 38px;
    display: block;
}
.t-around{
    font-size: 13px;
}
.infor-weather{
    border-left: 1px solid #b7b7b7;
    padding:0 10px;
}
.infor-weather span{
    display: block;
}

.weather-nextday{
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 1.3rem;
}
.wtnd-element img{
    width: 40px;
    height:40px;
    display: block;
    margin: 10px auto;
}
.wtnd-element span{
    display: block;
    text-align: center;
    
}
.wtnd-element{
    padding: 0 5px; 
    margin: 5px 0 ;
    width: 72px;
    box-sizing: content-box;
}
.bd-r{
    border-right: 1px solid #c2c2c2;
}

.u-col-1,.u-col-2{
    width: 50%;
    box-sizing: border-box;
    float: left;
}
.u-col-1 a,.u-col-2 a{
    display: block;
    box-sizing: content-box;
    padding: 4px 0px ;
    font-size: 14px;
}
.u-col-1 a:hover,.u-col-2 a:hover{
    color: #2b94a5;
}

/*tiên ích khác lịch, ngoại tệ... */


/*

.Search-content button{
    /*
    img,.post-footer span,.post-footer i
    background-color: transparent;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    width: 200px;
    
}




.header a{
    display: block;
}
*/



/* DN */
.d-flex{
    display: flex;
}

.bm-container{ 
    padding: 15px 0;
}

.bm{
    width: 970px;
    margin: auto;
}

.bm_title{
    margin-bottom: 15px;
    font-size: 15px;
    color: #2fa1b3;
}
.bm_title:hover{
    color: #1c616b;
}

.bm_SC{

}

.bm_L{ 
    width: 625px; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.bm_R{ 
    width: 330px;
    background: #fff;
    margin-left: 15px;
}

.bm_card{
    width: 196px;
    flex-direction: column;
    margin-bottom: 20px;
}
.bm_card_c_title:hover{
    color: #2fa1b3;
}
.bm_card_img{
    height: 130px;
    overflow: hidden;
    border-radius: 4px;
}

.bm_card_img span a img {
    width: 100%;
}

.bm_card_c_title {
    font-weight: 600;
    font-size: 22px;
    color: #212529;
    margin-top: 5px;
}

.bm_card_c_logo {
    height: 20px;
}
.bm_card_c_logo img {
    width: 29px;
}

.bm_boxNews{
    margin-bottom: 30px;
}

.bm_News_T{
    color: #db562b;
    font-size: 36px;
    position: relative;
    margin-bottom: 10px;
}

.bm_News_T > span{
    z-index: 1;
    position: relative;
    background: #fff;
    padding-right: 15px;
}

.bm_News_T:before{
    content: '';
    height: 3px;
    width: 100%;
    background: #db562b;
    position: absolute;
    bottom: 10px;
}

.bm_card_News_photo-container{
    padding: 15px 15px 8px;
    background-color: #fcf2ee;
}

.bm_News_c:not(:first-child){
    padding-top: 12px;
    margin-top: 8px;
    border-top: 1px solid #e9ecef;
}

.bm_News_c-b_img{
    width: 60px;
    height: auto;
}

.bm_News_c-b_img img{
    width: 60px;
    border-radius: 5px;
}

.bm_News_c-b_t{
    margin-left: 10px;
    font-weight: 600;
    font-size: 19px;
    color: #212529;
}
.bm_News_c-b_t:hover{
    color: #2fa1b3;
}
.bm_News_c-b_logo a{
    height: 17px;
}

.bm_News_c-b_logo a img{
    height: 100%;
    width: auto;
}

.nlg{
    font-size: 13px;
    margin-left: 12px;
    opacity: 0.25;
}

.bm_card_News-video_container{
    background-color: #eef8f9;
    padding: 15px; 
}

/* card video right page 2+3 */
.bm_News_c-container{
    padding: 15px 15px 8px;
    background-color: #f7f7f7;
}
.bm_card_video{
    flex-direction: column; 
}

.bm_card_video:not(:first-child){
    margin-top: 15px;

}

.bm_card_video_c{
    font-size: 19px;
    margin-top: 10px;
}

.bm_card_video_img{
    border-radius: 4px;
    overflow: hidden;
}

.bm_card_video_c_logo img{
    height: 16px;
    width: auto; 
}

/* photo */
.bm_News_c_photo{
    flex-direction: column;
}

.photo_img1{
    float: left;
    width: 190px;
    height: 135px;
}

.photo_img2{
    float: right;
    height: 84px;
    width: 108px;
}

.photo_img3{
    float: right;
    height: calc(135px - 84px);
    width: 108px;

}
.bm_News_c_t{
    margin-top: 10px;
}

.bm_News_c_photo:not(:first-child){
    padding-top: 11px;
}

