@media only screen and (max-width:970px) {


    /*chặn hover ảnh*/
    .img-hover-zoom img:hover {
        transform: scale(1, 1);
    }
    /*phan noi dung*/
    .content-layout{
        width: 80%;
        margin: 10px auto 0;
    }
    .top-header{
        width:80%;
    }
    .navbar{
        width: 80%; 
        margin: 0 auto;
    }
    .btn-close-drop{
        display: block;
        border: 1px solid black; 
        margin: 15px auto 100px auto; 
        text-align: center; 
        cursor: pointer;
        user-select: none; 
        border-radius: 5px; 
        width: 50px;
    }

    .content-left{
        float: none;
        width: 100%;
    }

    .Search-content{
        display: none;
    }
    .col-infor-contrainer,.row-element > a.img-hover-zoom,.img-bar > a:not(:nth-child(4)){
        width: 33% !important;
        height: auto !important;
        display: block;
    }

    .row-infor {
        flex-direction: column;
        border-bottom: none;
    }
    .img-bar{
        display: flex;
    }
    .img-main-big{
        width: 100%;
        height: auto;
    }
    .img-main-big a img,.img-hover-zoom video,.img-col-title-infor{
        width: 100%;
        height: auto;
    }

    /*fix kích thước img-bar kích thức %*/
    .img-bar-t{
        
        height: 80% !important;
    }

    .row-element {
        width: 100%;
        flex-direction: row;
        margin-bottom: 15px;
        border-bottom: 1px solid #e9ecef;
        padding-bottom: 15px;
    }

    .row-element>a.img-hover-zoom {
        flex-shrink: 0;
    }

    .row-element-rb {
        margin-left: 15px;

    }


    .article-body::after,
    .article-group-img-container,
    .responsive-hidden-img,
    .content-right {
        display: none;
    }

    .article-body {
        flex-direction: column;
    }

    .display-none {
        display: block !important;
    }

    .col-infor-contrainer {
        flex-shrink: 0;
        margin-right: 15px;
    }

    .ar-gr-ele,
    .article-group-post {
        padding-left: 0;
        margin-left: 0;
    }

    .ar-gr-ele::before {
        display: none;
    }



    .img-bar-container {
        flex-direction: row-reverse;
    }
  
    /*  */

    .bm {
        max-width: 730px;
    }

    

    .bm_R {
        display: none;
    }

    .bm_card {
        width: 100%;
        flex-direction: row;
    }

    .bm_card_img {
        flex-shrink: 0;
        width: 33%;
        height: auto;
    }

    .bm_card_c {
        margin-left: 12px;
    }

    .footer,
    .list-item-footer,
    .contact-other-license {
        display: none;
    }

    .footer_mb {
        display: block;
    } 
    .bm{
        max-width: 730px;
    } 

    
    
    .bm_R{
        display: none;
    }

    .bm_card{
        width: 100%;
        flex-direction: row;
    }
    .bm_card_img{
        flex-shrink: 0;
        width: 33%;
        height: auto;
    }

    .bm_card_c{
        margin-left: 12px;
    }

    .footer,
    .list-item-footer,
    .contact-other-license{
        display: none;
    }

    .footer_mb{
        display: block;
    }
    
    .Search-content input{
        width: 100%;
    }

    .list-item-footer {
        width: 100%;
    }


    .footer-align {
        overflow: hidden;
        width: 100%;
    }

    .contact-other-license {
        width: 100%;
    }


    /*nav bar*/
    
    .nav-area{
            /* position: relative; */
            width: 100%;
            height: 100%;

    }

    .nav-supper {
        width: 100%;
        height: 100%;
        overflow: scroll;
        padding: 0 10%;


    }

    .nav-path {
        float: unset;
        width: 100%;
        height: auto;
    }

    .header-path {
        display: block;
        margin-bottom: 0;
        border-left: none;
        border-top: 1px solid #e1e1e1;
        color: black;

    }

    .header-path:not(.other-path) {
        background-color: #e9ecef;
    }

    .header-path,
    .nav-path li {
        padding: 6px;
    }

    .other-path:not(:first-of-type) {
        background-color: #fdf7ea;
 
    }

    .bm{
        width: 100%;
        padding:0 10% ;
    }
    .bm_L{
        
        width: 100%;
        max-width: 100%; 
        margin: auto;
    }

    .topic_container{
        max-width: 100%;
        flex-direction: column;
    }


    /*responsive cho năng lượng tích cực*/
    .content-pe{
        flex-direction: column;
        flex-wrap: nowrap !important;
    }
        /*cục lớn bên trái */
    .big-cnt-pe{
        width: 100%;
        height: auto;
    }
    .big-cnt-pe .img-hover-zoom,.big-cnt-pe .img-hover-zoom img{
        width: 100% !important;
    }
         /*4 cục nhỏ bên phải*/
    .col-right{
            width: 100%;
            height: auto;
    }
    .small-cnt-pe div.img-hover-zoom img {
        width: 100%;
        height: auto;
    }
    .small-cnt-pe{
        display: flex;
        box-shadow: none;
        width: 100%;
        height: auto;
        padding: 0;
        margin-bottom: 15px;
        margin-left: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid #e1e1e1;
    }
    .small-cnt-pe .img-hover-zoom{
        width: 33% !important;
        height: auto !important;
        display: block;
        flex-shrink: 0;
    }
    .small-cnt-pe-right{
        margin-left: 10px;
    }
    
    .bottom-other{
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-bottom: 15px;
        border-bottom: 1px solid #e9ecef;
        padding-bottom: 15px;
    }
    .bt-o-img{
        width: 33% !important;
        height: auto !important;
        display: block;
        flex-shrink: 0;
    }
    .bt-o-right{
        margin-left: 10px ;
    }
    
    



@media only screen and (max-width:970px) {
    .topic_card{
        max-width: 100% ;
        width: 100%;
    }

    .topic_card_mb{
        display: flex;
        justify-content: center;
        background-color: #f9fafb;
        height: 36px;
        margin-top: 12px;
        align-self: center;
    }

    .topic_content{
        flex-direction: column;
    }

    .topic_content_col3{
        max-width: 100%;
        width: 100%;
        flex-direction: row;
    }
    .topic_content_col3:not(:nth-child(2),:nth-child(1)) {
        display: none;
    }

    .topic_content_col3_img{
        flex-shrink: 0;
        width: 33%;
    }

    .topic_content_col3_title{
        margin-left: 15px;
    } 
    .topic_content_col2:not(:nth-child(2),:nth-child(1)) {
        display: none;
    }

    .topic_content_col2{
        width: 100%;
    }

    .topic_content_col2_img{
        flex-shrink: 0;
        width: 33%;
        height: auto;
    }
    .topic_content_col1:not(:nth-child(2),:nth-child(1)) {
        display: none;
    }


    
}


@media only screen and (max-width:870px) {
    .ul-nav li:nth-last-child(2){
        display: none;
    }
}


}
 

@media only screen and (max-width:739px) {

    
    .ul-nav li:nth-last-child(3) {
        display: none;
    }

    .bm {
        max-width: 100%;
        padding: 0 10%;
    }

    .topic_card{
        max-width: 100%;
    }

}

@media only screen and (max-width:569px) {

    .ul-nav li:nth-last-child(2),
    .ul-nav li:nth-last-child(3),
    .ul-nav li:nth-last-child(4) {
        display: none;
    }
}

@media only screen and (max-width:415px) {

    .ul-nav li:nth-last-child(2),
    .ul-nav li:nth-last-child(3),
    .ul-nav li:nth-last-child(4),
    .ul-nav li:nth-last-child(5) {
        display: none;
    }

    .bm_R {
        display: none;
    }

    .topic_card{
        max-width: 100%;
    }

}