*{
    font-family: baomoi,AvenirNextCondensed-Medium,HelveticaNeue-CondensedBold,"sans-serif-condensed",Calibri,Corbel,Liberation Sans Narrow,Lohit Odia,sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.header{
    width: 970px;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header a{
    display: block;
}

.Search-content input{
    font-size: 14px;
    border: 1px solid #e9ecef;
    width: 456px;
    padding: 10px;
    
    
}

.Search-content input:hover,.Search-content input:focus{
    border: 1px solid #2fa1b3;
    color: #2fa1b3;
    outline:    none;
}


.icon:last-child {
    font-size: 20px;
    padding-left: 30px;
    color:#2fa1b3;
}




.nav-container{
    background-color: #2fa1b3;
    overflow: hidden;
    height: 41px;
    
}

.navbar{
    width: 970px;
    margin: 0 auto;
}

.ul-nav{
    margin: 0; padding: 0;
    list-style-type: none;
    display: flex;
    
    align-items: center;
}

.btn-square{
    color: white;
    font-size: 18px;
    border-right: 1px solid #8ac7d1;
    padding:10px;
    display: inline-block;
}

.btn-radius{
    font-size: 13px;
    color: white;
    border: 1px solid #8ac7d1;
    border-radius: 14px;
    padding: 0 5px;
    margin:10px;
    

}


.icon-dropdown{
    color: white;
    margin-left: auto;
    border-left: 1px solid #8ac7d1;
    border-right: 1px solid #8ac7d1;
    background-color: #2b94a5;
    width:41px;
    height:41px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}





.nav-supper{
    background-color: #f3f3f3;
    padding: 20px;
    

    
}
.nav-area{
    
    width: 970px;
    margin: 20px auto;
    z-index: 1;
    background-color: #f3f3f3;
    
}
.nav-path{
    width: 194px;
    float: left;
}



.nav-path{
    width: 194px;
    height:140px;
}
.header-path{
    color: #2b94a5;
    border-left: 3px solid #2b94a5;
    padding-left: 3px;
    display: inline-block;
    margin-bottom:  10px;
    padding-left: 5px;
}

.ul-nav-path{
    margin:0;
    padding:0;
}
.ul-nav-path li{
    list-style-type: none;
    margin: 5px 0;
    font-size: 13px;
    color: rgb(32, 32, 32);
}

.ul-nav-path li:hover{
    color:#2b94a5;
    cursor: pointer;
}



.dropsupport{
    display: none;
}
/*

.Search-content button{
    /*
    background-color: transparent;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    width: 200px;
    
}
*/


/* DN */
.d-flex{
    display: flex;
}

.bm-container{ 
    padding: 15px 0;
}

.bm{
    width: 970px;
    margin: auto;
}

.bm_title{
    margin-bottom: 15px;
    font-size: 15px;
    color: #2fa1b3;
}

.bm_SC{ 
}

.bm_L{ 
    width: 625px; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.bm_R{ 
    width: 330px;
    background: #fff;
    margin-left: 15px;
}

.bm_card{
    width: 196px;
    flex-direction: column;
    margin-bottom: 20px;
}
.bm_card_c_title:hover{
    color: #2fa1b3;
}
.bm_card_img{
    height: 130px;
    overflow: hidden;
    border-radius: 4px;
}

.bm_card_img span a img {
    width: 100%;
}

.bm_card_c_title {
    font-weight: 600;
    font-size: 22px;
    color: #212529;
    margin-top: 5px;
}

.bm_card_c_logo {
    height: 20px;
}
.bm_card_c_logo img {
    width: 29px;
}

.bm_News_T{
    color: #db562b;
    font-size: 36px;
    position: relative;
    margin-bottom: 10px;
}

.bm_News_T > span{
    z-index: 1;
    position: relative;
    background: #fff;
    padding-right: 15px;
}

.bm_News_T:before{
    content: '';
    height: 3px;
    width: 100%;
    background: #db562b;
    position: absolute;
    bottom: 10px;
}

.bm_News_c-container{
    padding: 15px 15px 8px;
    background-color: #f7f7f7;
}

.bm_News_c:not(:first-child){
    padding-top: 12px;
    margin-top: 8px;
    border-top: 1px solid #e9ecef;
}

.bm_News_c-b_img{
    width: 60px;
    height: auto;
}

.bm_News_c-b_img img{
    width: 60px;
    border-radius: 5px;
}

.bm_News_c-b_t{
    margin-left: 10px;
    font-weight: 600;
    font-size: 19px;
}
.bm_News_c-b_t:hover{
    color: #2fa1b3;
}
.bm_News_c-b_logo a{
    height: 17px;
}

.bm_News_c-b_logo a img{
    height: 100%;
    width: auto;
}

.nlg{
    font-size: 13px;
    margin-left: 12px;
    opacity: 0.25;
}
